{{!-- Structure borrowed from: https://ucb.bootcampcontent.com/UCB-Coding-Bootcamp/UCB-VIRT-FSF-PT-05-2022-U-LOLC/-/blob/main/14-MVC/01-Activities/28-Stu_Mini-Project/Main/views/homepage.handlebars --}}
{{! bulma rendering fields }}
<div class="columns">
  <form class="form login-form column box">
    <div class="field">
      <p class="card-header-title">
        Login
      </p>
      <label class="email-login">Email:</label>
      <div class="control">
        <input
          class="input"
          type="text"
          id="email-login"
          placeholder="e.g. alex@example.com"
        />
      </div>
    </div>
    <div class="field">
      <label class="password-login">password:</label>
      <div class="control">
        <input
          class="input"
          type="password"
          id="password-login"
          placeholder="*********"
        />
      </div>
    </div>
    <div class="control">
      <button class="button is-primary" type="submit">Login</button>
    </div>
  </form>

  <form class="form signup-form column box">
    <div class="field">
      <p class="card-header-title">
        Signup
      </p>
      <label class="name-signup">Name:</label>
      <div class="control">
        <input
          class="input"
          type="text"
          id="name-signup"
          placeholder="John Doe"
        />
      </div>
    </div>
    <div class="field">
      <label class="email-signup">Email:</label>
      <div class="control">
        <input
          class="input"
          type="text"
          id="email-signup"
          placeholder="e.g. alex@example.com"
        />
      </div>
    </div>
    <div class="field">
      <label class="password-signup">password:</label>
      <div class="control">
        <input
          class="input"
          type="password"
          id="password-signup"
          placeholder="*********"
        />
      </div>
    </div>
    <div class="control">
      <button class="button is-primary" type="submit">Signup</button>
    </div>
  </form>
  <script src="/js/login.js"></script>
</div>