<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Restaurant Review:</h3>

    <form class="form new-project-form">
      <div class="form-group"> 
        {{!-- add a dropdown menu of the restaurants --}}
        <label for="project-name">Restaurant name:</label>
        <select "form-input" type="text" id="project-name" name="project-name">
        <option value="1">The MeltingPot</option>
        <option value="2">The Barcode Bar And Grill</option>
        <option value="3">TacoBoutIt</option>
        <option value="4">Grill Lab</option>
        </select>
      </div>
      <div class="form-group">
        <label for="review">Review:</label>
        <textarea class="form-input" id="review" name="review"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  
  <div class="col-md-6 project-list">
    <h3>Current Reviews:</h3>

{{#if reviews.length}}
    {{#each reviews as |review|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4>{{review.comment}}</h4>
        <p>{{review.restaurant.name}}</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{review.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/profile.js"></script>
